
.env

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
env/
.venv/
.env/

*.log
*.pot
*.pyc
*.db
*.sqlite3

.vscode/
.idea/
*.swp
*.bak

.DS_Store
Thumbs.db
*.wav
*.mp3
*.ogg
*.flac
*.tmp

librosa_cache/
